
.boitephotoresto {
    width: 960px;
    overflow: hidden;
}

.photoban2resto {
    display: flex;
    animation-duration: 0s;            /*play banniere*/
    animation-name: mesImagesresto;
    animation-iteration-count: infinite;

}

.banniere2resto {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    background-color: rgb(184, 168, 117);
    width: 100%;

    display: flex;
    justify-content: center;
    padding: 0;

}

@keyframes mesImagesresto {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-960px);
    }
    40% {
        transform: translateX(-1920px);
    }
    60% {
        transform: translateX(-2880px);
    }
    80% {
        transform: translateX(-3840px);
    }
    100% {
        transform: translateX(-4800px);
    }
    }