* {
    margin: 0;
}

body {
    background-image: url(icone/parement.jpg);
    background-size: cover;
}

.logohotel {
    width: 60%;
    height: auto;
    border-radius: 50%;

}

h1 {
    color: rgb(16, 176, 176);
    text-align: center;
    text-shadow: 5px 5px 5px black;
    font-size: 120px;
    margin-top: 5%;
    font-family: 'Cormorant SC', serif;
}

h2 {
    color: rgb(16, 176, 176);
    text-shadow: 5px 5px 5px black;
    font-size: 100%;
    text-align: center;
    padding: 4px;
    font-family: 'Edu QLD Beginner', cursive;
}

.banniere1 {
    /* border: 4mm ridge rgba(121, 182, 206, 0.6);*/
    display: flex;
    align-items: center;
    text-align: center;
    height: 600px;
    background-image: url(imghotel/007.jpg);
    background-size: cover;
    padding: 5px;
}

.logotitre {
    font-size: 200%;
    background-color: rgb(113, 166, 212, 0.5) ;
    padding-top: 5%;
    padding-bottom: 4%;
    padding-left: 5%;
    padding-right: 5%;
}

.meconnecter,
.fr {
    box-shadow: 2px 2px;
    margin: 0;
    padding: 7px;
    margin-left: 10px;
    background-color: aquamarine;
}

.meconnecter {
    margin-left: 40%;
}

.imgrond {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 2%;
    padding: 10px;

}

#ichambre,
#iactivite,
#iresto,
#icontact {
    border: 2px solid black;
    border-radius: 40px;
    margin-right: 30px;
    margin-left: 30px;
}

figcaption {
    text-align: center;
    margin-top: 10px;
    margin-left: 1%;
    margin-right: 1%;
}

.form {
    display: flex;
    justify-content: center;
    border: 1px solid;
    padding: 2%;
    background-color: rgb(184, 168, 117);
}

#dates,
#typeChamb,
#boutonOK {
    margin-left: 5%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 120%;
}

.boitephoto {
    width: 640px;
    overflow: hidden;
}

.photoban2 {
    display: flex;
    animation-duration: 20s;
    /*play banniere*/
    animation-name: mesImages;
    animation-iteration-count: infinite;

}

.banniere2 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    background-color: rgb(184, 168, 117);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
}

@keyframes mesImages {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-640px);
    }

    50% {
        transform: translateX(-1280px);
    }

    75% {
        transform: translateX(-1920px);
    }

    100% {
        transform: translateX(0);
    }
}

.boitephotoresto {
    width: 960px;
    overflow: hidden;
}

.photoban2resto {
    display: flex;
    animation-duration: 20s;
    /*play banniere resto*/
    animation-name: mesImagesresto;
    animation-iteration-count: infinite;

}

.banniere2resto {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    background-color: rgb(184, 168, 117);
    width: 100%;

    display: flex;
    justify-content: center;
    padding: 0;

}

@keyframes mesImagesresto {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-960px);
    }

    40% {
        transform: translateX(-1920px);
    }

    60% {
        transform: translateX(-2880px);
    }

    80% {
        transform: translateX(-3840px);
    }

    100% {
        transform: translateX(-4800px);
    }
}

.textpresent,
.texteresto {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    margin-top: 5%;
    margin-left: 10%;
    padding-left: 5%;
    padding: 2%;
    padding-right: 20%;
    text-align: justify;
    background-color: rgb(184, 168, 117);
}

.signature,
.signaturechef {
    display: flex;
    justify-content: flex-end;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    margin-right: 20%;
    margin-top: 5%;
    background-color: rgb(184, 168, 117);
}

#directeur {
    margin-top: 20%;
}

#imgdirecteur,
#imgchef {
    border: 1px solid black;
    border-radius: 50px;
    height: 80px;
}

.FooterContact {
    text-align: center;
    background-color: rgb(184, 168, 117);
    padding: 20px;
}

.vague,
.vagueinverse {
    width: 5%;

}

.divvague {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.signmahra {
    font-size: 80%;
    display: flex;
    justify-content: center;
    font-family: 'Kanit', sans-serif;
}

#nosmenus {
    margin: 0;
}